@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Roboto,sans-serif;
}

html,
body {
	scroll-behavior: smooth;
	background-color: #d6c8b9;
	color: #111111;
	font-family: Roboto,sans-serif;
	user-select: none;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 99999999999999999;
}

.reactModal {
	overflow: hidden;
	border-radius: 2px;
	outline: none;
	z-index: 9999999;
	max-height: 100vh;
	min-height: 100vh;
	background: rgba(0, 0, 0, 0.75);
	transform: translateX(-200px);
	transition: all 500ms ease-in-out;
}

.reactModalHidden {
	transform: translateX(-100%);
}

@media screen and (min-width: 768px) {
	.reactModal {
		border-right: 1px solid #ccc;
	}
}

.ReactModal__Content--after-open {
	transform: translateX(0px);
}

.ReactModal__Content--before-close {
	transform: translateX(-200px);
}

.ReactModal__Overlay {
	opacity: 0;
	transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}

.bannerBackground {
	background-image: url("https://i.ibb.co/3hdCHYG/banner.jpg");
	background-position: 100% 43.59%;
	background-size: auto 145%;
}

@media screen and (min-width: 1024px) {
	.bannerBackground {
		background-position: 100% 31.1%;
		background-size: 115%;
	}
}

.teamTitle {
	@apply text-[1.8rem] font-[700] text-[#fff]
}

.teamSubtitle {
	@apply uppercase tracking-[4px] text-[#fff] font-[400] text-[1.25rem]
}